canvas {
  width: 90%;
  height: auto;

  display: block;
  margin: 0 auto;

  border: 1px solid black;
}

#app > .loading-placeholder {
	width: 100%;
	height: auto;
}

.loading-icon {
	width: 32px;
	height: 32px;
}

#controls {
  	width: 90%;
  	margin: 0 auto;
}
